open3d~=0.18.0
numpy~=1.26.4
opencv-python~=4.6.0.66
torch~=2.0.1+cu117
scipy~=1.10.1
torchvision~=0.15.2+cu117
setuptools~=65.5.1
psutil~=5.9.8
omegaconf~=2.3.0
matplotlib~=3.8.4
requests~=2.31.0
pillow~=10.3.0
transformers~=4.40.2
sentencepiece
protobuf
segment-anything
pyvista